.inline-links{
    color:var(--first-color)
}
main{
    h3{
        padding-bottom: 10px;
        font-weight: var(--font-weight-text);
    }
    h2{
        padding-bottom: 10px;
        font-weight: var(--font-weight-header)
    }
}

.main-page--text{
    font-weight: var(--font-weight-text);
    margin-top: 20px;
}